<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>嘀友科技</title>
  <script src="https://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  <script language="javascript" src="http://webapi.amap.com/maps?v=1.3&key=dc3c63d866e0144a66c7458b9d77fbf3"></script>
  <link rel="icon" href="./public/diuber/tianfu/favicon.ico" type="image/x-icon">
</head>

<body>
  <div id="root"></div>
  <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
      m[i] = m[i] || function() {
        (m[i].a = m[i].a || []).push(arguments)
      };
      j = ei.createElement(q),
        s = ei.getElementsByTagName(q)[0];
      j.async = true;
      j.charset = 'UTF-8';
      j.src = '//static.meiqia.com/dist/meiqia.js?_=t';
      s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 61619);
  </script>
</body>

</html>
